{% extends 'base.html' %}
{% block content %}


{% if items %}
<ul>
    {% for item, price, quote, quantity in items %}
        <li><p>Item      : {{ item }}
            <br>Quantity : {{ quantity }}
            <br>Price    : ${{ price }}.00</br>
            <br><IMG SRC="static/tenor.gif" ALT="joey diaz" WIDTH=72 HEIGHT=72>
        </li>


        <br>

    {% endfor %}
</ul>
{% endif %}


{% if cost %}
Your cart is will cost: {{ cost }}<br>
{% else %}
Your cart is empty!<br>
{% endif %}

<br>
<a href="checkout">Checkout</a>

{% endblock %}